<!--
  Generated template for the EditorsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="editor; else allUsers">Users of {{editor.name}}</ion-title>
    <ng-template #allUsers>
      <ion-title>Users</ion-title>
    </ng-template>
    <ion-buttons *ngIf="editor" end>
      <button ion-button icon-only (click)="createUser(editor.$key)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let user of users | search:search:'displayName'">
      {{user.displayName}}
      <button item-right (click)="resetUserPassword($event, user)" ion-button icon-only default>
        <ion-icon name="mail"></ion-icon>
      </button>
      <button item-right (click)="deleteUser($event, user)" ion-button icon-only default>
        <ion-icon name="trash"></ion-icon>
      </button>
      <button item-right (click)="updateUser($event, user)" ion-button icon-only default>
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>