<!-- Generated template for the ReportHeaderComponent component -->
<div class="container" *ngIf="report">
  <div id="details">
    <div class="header">
      <span>{{"Estimated Revenue" | translate}}</span>
    </div>
    <div>
      <div class="cell">{{"Premium" | translate}}<br/>
        <div *ngIf="report['Premium']">
          {{report['Premium'].revenue.toLocaleString('fr-FR', { style: 'currency', currency: 'EUR' })}}<br />
          <small>{{report['Premium'].impressions.toLocaleString('fr-FR')}} imps</small>
        </div>
      </div>
      <div class="cell">
        AMS Market Place<br/>
        <div *ngIf="report['AMS Market Place']">
          {{report['AMS Market Place'].revenue.toLocaleString('fr-FR', { style: 'currency', currency: 'EUR' })}}<br />
          <small>{{report['AMS Market Place'].impressions.toLocaleString('fr-FR')}} imps</small>
        </div>
      </div>
      <div class="cell">
        AdNetwork Fill<br/>
        <div *ngIf="report['AdNetwork Fill']">
          {{report['AdNetwork Fill'].revenue.toLocaleString('fr-FR', { style: 'currency', currency: 'EUR' })}}<br />
          <small>{{report['AdNetwork Fill'].impressions.toLocaleString('fr-FR')}} imps</small>
        </div>
      </div>
    </div>
  </div>
  <div id="total">
    <div class="header">
      <span>{{"Total" | translate}}</span>
    </div>
    <div>
      <div class="cell">
        &nbsp;<br/>
        <div *ngIf="report['Total']">
          {{report['Total'].revenue.toLocaleString('fr-FR', { style: 'currency', currency: 'EUR' })}}<br />
          <small>{{report['Total'].impressions.toLocaleString('fr-FR')}} imps</small></div>
        </div>
    </div>
  </div>
</div>
<div style="clear: both"></div>
