<!--
  Generated template for the SitesDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Site</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form novalidate (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="site">
    <ion-list>
      <ion-item>
        <ion-label color="primary" stacked>Name</ion-label>
        <ion-input type="text" 
          name="title" 
          [(ngModel)]="site.title" 
          #siteName='ngModel'
          required>
        </ion-input>
      </ion-item>
        <div *ngIf="siteName.errors?.required && siteName.touched" class="error">
          Name is required
        </div>
      <ion-item>
        <ion-label color="primary" stacked>URL</ion-label>
        <ion-input type="url" name="url" [(ngModel)]="site.url">
        </ion-input>
      </ion-item>
      <ion-item *ngIf="(editor && editor.name)">
        <ion-label color="primary" stacked>Editor</ion-label>
        <ion-input type="text" 
          disabled="true"
          [ngModel]="editor.name"
          [ngModelOptions]="{standalone: true}">
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-row responsive-sm>
      <ion-col>
        <button ion-button 
          type="submit" 
          [disabled]="f.invalid"
          block>Save</button>
      </ion-col>
      <ion-col>
        <button ion-button 
          type="button"
          (click)="cancel()" 
          color="light" 
          block>Cancel</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>