<!-- [when] boolean value that will trigger SplitPane -->
<ion-split-pane [when]="isAuthenticated()">

  <!-- logged in menu -->
  <ion-menu id="loggedInMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>
          <button class="toolbar-logo-button" type="button" (click)="openPage('editors-list')"> 
            <div class="toolbar-logo-lockup">
              <img fb-logo="" fb-size="28" class="logo-icon" src="./assets/img/logo-ams.png">
              <div class="fb-appbar-logo-logotype-container">
                <img src="./assets/img/titre-ams.png" class="logo-logotype" alt="Ad.MySports">
              </div>
            </div>
          </button>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          {{'Navigate' | translate}}
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of linksToDisplay" (click)="openPage(p.name)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title | translate}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          {{'Account' | translate}}
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p.name)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
        <button ion-item menuClose (click)="resetPassword()">
          <ion-icon item-start name="mail"></ion-icon>
          {{'Reset Password' | translate}}
        </button>
        <button ion-item menuClose (click)="logout()">
          <ion-icon item-start name="log-out"></ion-icon>
          {{'Logout' | translate}}
        </button>
      </ion-list>
      <ion-item *ngIf="user">
        {{'Logged as:' | translate}} <br/>{{user.email}}<br/>{{user.role}}
      </ion-item>
    </ion-content>
  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>

</ion-split-pane>
